
@{
    ViewBag.Title = "Attenzione!";
    Layout = "~/Views/Shared/_ConfirmLayout.cshtml";
}

@section scripts {

    <script>
        //function yes() {
        //    var id = window.location.pathname.split("/");
        //    window.location.href = '/yes/' + id[2]+window.location.search;
        //}
    </script>

}

<img src="~/Content/img/attention.jpg" class="img-fluid" alt="Responsive Image" />

<h4>Per fruire immediatamente del servizio, ti preghiamo di spegnere il Wi-Fi e accedere dalla rete mobile del tuo operatore. <br /><br /> Grazie</h4>